# EditorConfig is awesome: https://EditorConfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cpp, hpp}]
charset = utf-8
indent_style = space
indent_size = 2
max_line_length = 100

[{CMakeLists.txt, *.cmake}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
