[submodule "source/third_party/fmtlib"]
	path = external/fmtlib
	url = https://github.com/fmtlib/fmt.git
[submodule "source/third_party/toml11"]
	path = external/toml11
	url = https://github.com/ToruNiina/toml11
