[submodule "source/third_party/fmtlib"]
	path = external/fmtlib
	url = https://github.com/fmtlib/fmt.git
	shallow = true
[submodule "source/third_party/toml11"]
	path = external/toml11
	url = https://github.com/ToruNiina/toml11.git
	shallow = true
[submodule "external/unarr"]
	path = external/unarr
	url = https://github.com/selmf/unarr.git
	shallow = true
