
#include <windows.h>

IDI_ICON1 ICON DISCARDABLE "${CMAKE_CURRENT_SOURCE_DIR}/rc/app.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     ${VERSION_MAJOR},${VERSION_MINOR},${VERSION_PATCH}
PRODUCTVERSION  ${VERSION_MAJOR},${VERSION_MINOR},${VERSION_PATCH}
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",        "fleroviux"
            VALUE "FileDescription",    "NanoBoyAdvance"
            VALUE "FileVersion",        "${VERSION_MAJOR}.${VERSION_MINOR}.${VERSION_PATCH}"
            VALUE "InternalName",       "NanoBoyAdvance.exe"
            VALUE "LegalCopyright",     "(c) 2015 - 2024 fleroviux"
            VALUE "OriginalFilename",   "NanoBoyAdvance.exe"
            VALUE "ProductName",        "NanoBoyAdvance"
            VALUE "ProductVersion",     "${VERSION_MAJOR}.${VERSION_MINOR}.${VERSION_PATCH}"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "${CMAKE_CURRENT_SOURCE_DIR}/rc/app.manifest"